*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: F5F5F7;
}



header{
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    padding: 20px;
}


.logo{
    color: 5B47D1;
    background-color: F0EDFF;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 50px;
}

nav{
    display: inline-block;
        ul {
            li{
                display: inline;
                list-style: none;
                padding: 10px 20px;

                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
}

class{
    
}




/* TechBlog /
.footer-center {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    max-width: 250px;
    margin-right: 50px;
}

.footer-center .footer-text {
    color: #ccc;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
}

/ categories /
.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px 20px 20px;
    font-size: 14px;
}

/ container /
.footer-container {
    width: 100%;
    text-align: left;
}

/ footer /
.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px 20px 20px;
    font-size: 14px;
}

/ footer container/
.footer-container {
    width: 100%;
    text-align: center;
    / სამი ბლოკი შუაში /
}

/ footer column 1 /
.footer-col {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 250px;
    margin: 0 20px;
}

/ footer column 2 /
.footer-col h3 {
    margin-bottom: 10px;
}

/ footer column 3 /
.footer-col p {
    margin: 3px 0;
    font-size: 12px;
    color: #ccc;
    line-height: 1.5;
}

/ Footer bottom */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}